/*********** GENERAL ***********/

::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
    background: #000; 
}

* {
  box-sizing: border-box;
  
}

html {
  font-size: 62.5%;
}


.center-text{
  text-align: center;
}


.btn {
  display: inline-block;
  background: #eb8613;
  padding: 20px 20px;
  color: white;
  text-transform: uppercase;
  border: 0;
  transition: background .3s;
  border-radius: 50px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, .2);
  max-width: 300px;
  text-align: center;
  margin: 60px auto;
  font-weight: bold;
  font-size: 2rem;
}

.justified{
  text-align: justify;
}


.white-text{
  color: #ffffff;
}

.normal-text{
  font-size: 1.5rem;
}


img {
  width: 100%;
}

main{
  min-height: calc(100vh - 90px - 31px);
}


header{
  background-color: #ffffff;
  height: 90px;
}

header .logo-container{
  max-width: 150px;

}

header .row{
  justify-content: center;
}

.hero .btn{
  position: absolute;
  right: 5%;
  top: 15%;
}


.hero{
  font-size: 2rem;
  height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(255, 255, 255, .1)),
              url(../images/annie-spratt-g5H5qXscAA8-unsplash.jpg) no-repeat center / cover;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero .img-container{
  width: 10%;
  position: absolute;
  top: 30%;
  left: 50%;
}

.ovale{
  position: absolute;
  height: 200%;
  width: 90%;
  left: -40%;
  top: -50%;
  background-color: rgba(0, 0, 0, .9); 
  border-radius: 100%;

}

.ovale h1{
  margin: auto;
  text-shadow: 5px 5px 2px rgba(255, 255, 255, .4);

}
.ovale .title-container{
  position: absolute;
  left: 50%;
  top: 40%;
  max-width: 600px;
}




#lower{
  box-shadow: 0 -2px 0 rgba(0, 0, 0, .3);
}

a{
  text-decoration: none;
}

@media only screen and (min-width: 1200px) {
 }

@media screen and (max-width: 1200px){

 }

@media screen and (min-width: 992px) {



}


@media screen and (max-width: 991px) {
  .hero{
    font-size: 1.5rem;
  }


}

@media only screen and (min-width: 768px){

/*********** GENERAL ***********/

}


@media only screen and (max-width: 767px) {

  .hero{
    font-size: 1rem;
  }

  .hero .btn{
  position: absolute;
  right: 5%;
  top: 20%;
  padding: 10px 20px;
  max-width: 150px;
  font-size: 1rem;
  }

.hero .img-container{
  top: 40%;
  left: 45%;
}


.ovale .title-container{
  left: 45%;
  top: 45%;
  
}



}

@media only screen and (max-width: 575px) {

}

@media only screen and (min-width: 576px){

}